@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: "Quicksand", serif;
  --ff-secondary: "Playfair Display", serif;

  --fs-h1: 2.1rem;

  --clr-dark: #062863;
  --clr-light: #fff;
}

body {
  background-color: var(--clr-light);
  margin: 1rem 3rem 2rem 3rem;
}

main {
  text-align: justify;
  margin-top: 3rem;
}

section {
  margin-bottom: 4rem;
}

header {
  background-color: var(--clr-dark);
  padding: 1.2rem;
  border-radius: 0.3rem;
  border: 2px solid var(--clr-light);
}

img {
  border-radius: 50%;
  border: 2px solid var(--clr-dark);
}

.intro_about-me {
  text-align: center;
}

body,
p {
  font-family: var(--ff-primary);
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
}

h1,
h2 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
}

p {
  line-height: 2rem;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin: 0 1rem;
}

footer {
  text-align: right;
}

.back-to-top {
  color: var(--clr-light);
  font-weight: bold;
  background-color: var(--clr-dark);
  padding: 0.8rem;
  border-radius: 0.3rem;
}

@media screen and (max-width: 853px) {
  body {
    margin: 1rem 1.5rem 2rem 1.5rem;
  }

  header {
    position: relative;
    display: block;
  }

  .hamburger {
    cursor: pointer;
    padding: 10px;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: var(--clr-light);
    margin: 4px 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: var(--clr-dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: var(--clr-light);
  }

  .show {
    display: block;
  }

  h1,
  h2 {
    font-size: 1rem;
  }

  p {
    line-height: 1.5rem;
  }

  header > nav > ul > li {
    font-size: 0.5rem;
  }
}
